<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-title>
      Let's Play
      <ion-card-subtitle>Time for quiz</ion-card-subtitle>
    </ion-card-title>

    @let formData = form()!;

    <ion-card-content>
      <form [formGroup]="formData">

        @let is_error_message = formData.get('question_count')?.errors?.['maxLimit'];

        <ion-item lines="none" color="light">
          <ion-input 
            placeholder="No. of questions" 
            type="number" 
            formControlName="question_count" 
            [errorText]="is_error_message || '*Enter proper number'"></ion-input>
          <ion-text slot="end">out of {{masterSettings().questionsMaxLimit}}</ion-text>
        </ion-item>
        
        <ion-item lines="none" color="light" class="ion-margin-top">
          <ion-select 
            label="Category" 
            labelPlacement="fixed" 
            interface="popover" 
            formControlName="category_id" 
            placeholder="Select Category">
            @for(category of categories(); track $index) {
              <ion-select-option [value]="category.id">
                {{category?.name}}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>

        @let category_id = formData.get('category_id');

        @if(category_id?.invalid && category_id?.touched){
          <div>
            <ion-text class="errorMessage" color="danger">*Please select a category*</ion-text>
          </div>
        } 
        
        <ion-item lines="none" color="light" class="ion-margin-top">
          <ion-label> Duration (hh:mm) </ion-label>
          <ion-datetime-button
            datetime="datetime"
            slot="end"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                formControlName="duration"
                presentation="time"
                hourCycle="h23"
                [showDefaultButtons]="true"
                [formatOptions]="{
                  time: { hour: '2-digit', minute: '2-digit'},
                }"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        @let duration = formData.get('duration');

        @if(duration?.invalid && duration?.touched){
          <div>
            <ion-text class="errorMessage" color="danger">
              @let checkErr = duration!.errors?.['invalidDuration'];
              @if(checkErr){
                {{ checkErr }}
              } @else {
                *Please select a duration
              }
            </ion-text>
          </div>
        } 

        @if(isLoading()){
          <ion-button>
            <ion-spinner name="cresent"></ion-spinner>
          </ion-button>
        }
        @else {
          <ion-button (click)="onSubmit()" class="play">
            PLAY
            <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
          </ion-button>
        }

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
